<div class="jumbotron">
    <h1>
        {{ctrl.HeroHeader}}
    </h1>

    <p>
        {{ctrl.HeroText}}
    </p>

    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>
            {{ctrl.col0heading}}
        </h2>

        <p> {{ctrl.col0text}}</p>

        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            Heading
        </h2>

        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>

        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            Heading
        </h2>

        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>

        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
</div>