<div class="jumbotron">
    <h1>
        {{ctrl.HeroHeader}}
    </h1>

    <p>
        {{ctrl.HeroText}}
    </p>

    <a href="https://github.com/JeremyMorgan/Angular-Kickstart" target="_blank"><h3>Get the Code Here</h3></a>
    <br />
    <br />
    <iframe
            src="https://ghbtns.com/github-btn.html?user=JeremyMorgan&repo=Angular-Kickstart&type=star&count=true&size=large"
            frameborder="0" scrolling="0" width="160px" height="30px"></iframe><br />
    <iframe src="https://ghbtns.com/github-btn.html?user=JeremyMorgan&type=follow&count=true&size=large"
            frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
</div>