<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>
            {{ctrl.col1heading}}
        </h2>
        <p> {{ctrl.col1text}}</p>
        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            {{ctrl.col2heading}}
        </h2>
        <p> {{ctrl.col2text}}</p>
        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            {{ctrl.col3heading}}
        </h2>
        <p> {{ctrl.col3text}}</p>
        <p>
            <a class="btn" href="#">View details</a>
        </p>
    </div>
</div>